body{
  padding:60px 0 0 0;
  height: auto;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff;
  /* Primary COlor : #00e1fd; */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 40px;
  height: 40px;
  margin: -60px;
  border: 6px solid #black;
  border-radius:100px;
  border-top: 6px solid #00e1fd;
  animation: spin 500ms linear infinite;
}


.loadtext{
  position: absolute;
  align-items: center;
}

@keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg);}
}



.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 500ms;
  animation-name: animatebottom;
  animation-duration: 500ms;
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ left:-100px; opacity:0}
  to{ left:0; opacity:1 }
}

#myDiv {
  display: none;
}

.hidden{
  transition: all 2s;
  filter: blur(10px);
  transform: translateY(100px);
}

.show{
  opacity:1;
  filter: blur(0px);
  transform: translateY(0);

}

.portfoliocard1:nth-child(1){
  transition-delay: 200ms;
}


.alien{
  width: 80%;
  margin: 30px auto;
}


.contain{
  height: 100vh;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.slide p{
  padding: 0 160px;
  font-size: 12px;
}

.quote-icon{
  width: 40px;
  height: auto;
}



#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 200;
  background-color: black;
  cursor: pointer;
  padding:6px 10px;
  border-radius: 40px;
  border:2px solid black;
  animation-name: fadetop;
  animation-duration: 2s;
}

@keyframes fadetop {
  0% {opacity: 0;}
  100% {opacity :1;}
}


#myBtn:hover {
  background-color: black;
}

#myBtn img {
  width:30px;
  height:30px;
  border-radius:30px;
}



/* Menu link */
.Group{
  display: flex;
  width:70%;
  margin: 0 auto;
  justify-content: space-between;
  justify-items:center;
}


#intro{
  height: fit-content;
  margin:20px;
  overflow: hidden;
  border-radius: 20px;
  text-align: left;
  background: rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(10.4px);
  animation-name:menu_d;
  animation-duration: 1s;
}

.portfoliowrap{
  position: absolute;
  margin:0 auto;
  height: 100%;
  top:0;
  background-color: rgb(0,0,0,0.5);

}



@keyframes menu_d {
  0%  {right:-200px;}
  100% {right:0px;}
}


.menu{
  width: 30%;
  overflow: hidden;
  height: fit-content;
  border-radius: 20px;
  background: rgba(0, 0, 0,  0.22);
  backdrop-filter: blur(10.4px);
  display: block;
}


.menuItem{
  display: flex;
  align-items: center;
}

.menuIcon{
  width: 30px;
  height: auto;
  margin:0 10px 0 20px;
}

.menuText{
  font-size: 12px;
}

.menudiv .active{
  font-weight: bold;
  background-color: rgb(0,225,253,20%);
}

.profilesummary{
  animation-name:menu_d;
  animation-duration: 1s;
}

.logodiv{
  display: grid;
  justify-content: start;
  overflow: hidden;
  padding: 20px;
}

.menudiv{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin:10px 0;
}

.menudiv a{
width:100%;
color: white;
padding:10px 0;
}



a:link{
  text-decoration: none;
  color:white;
  width: 100%;
}

a:hover{
  text-decoration: none;
  color:#00e1fd;
}

a:active{
  text-decoration: none;
  color:#00e1fd;
}


.logo{
  width:50px;
}


.banner{
  height:100%;
  top:0;
  left: 0;
  position: fixed;
  z-index: -1;
  width: 100%;
  background-color: black;
  filter:blur(3px);
  color: rgb(0,0,0,0.5);

}

.Name{
  background-color: rgb(0,0,0,0.5);
  border-radius: 10px;
  overflow: hidden;
}

.name{
  font-size: 16px;
  margin:0px;
  position: relative;
  color:white;
}

.nameTitle{
  font-size: 36px;
  margin: 0;
  color: white;
  background: rgb(7,141,157);
  background: linear-gradient(100deg, rgba(7,141,157,1) 0%, rgba(252,213,51,0) 100%);
  padding: 20px;
  font-weight: 800;

}

.nameDescription{
font-size: 18px;
padding:0px;
font-weight: bold;
color: white;
display: inline-block;
margin:10px 0;
}

.nameDescription1{
font-size: 14px;
padding:0px 20px;
color: rgb(255,255,255,0.8);
margin:0;
}

.nameDescription2{
font-size: 14px;
padding:0px 20px;
color: rgb(255,255,255,1);
margin:0;
line-height: 2;
}

.downloadresume{
  width: 100%;
  height: auto;
  display: grid;
  justify-content: start;
  align-content: start;
  align-items: center;
  margin:20px;
}


.downloadresume a{
  padding:10px 20px;
  display: inline-block;
  color:white;
  width: 100%;
  font-size: 12px;
  font-weight: 800;
  text-align: center;
  border: 1px solid white;
  background-color:black 0.8;
}

.downloadresume a:hover{
  background-color: #00e1fd;
  color:black;
  border:0px;
}

/* Workspace edits */

.workspace {
  animation-name: workspace;
  animation-duration: 2s;
  width: 100%;
  height: 400px;
  margin:0 0 0 20px;
  background-color: rgb(0,0,0,0.3);
  overflow-y: scroll;
  border-radius: 20px;
  }

  .workspace::-webkit-scrollbar{
    display: none;
  }

  .workspace {
  scrollbar-width: none;  /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

.experience-description{
  font-size: 18px;
  width:auto;
  margin:10px 0;
  color:white;
}

@keyframes workspace{
  0% {bottom:-1000px;}
  100% {bottom:0px;}
}

.iconlist{
  line-height: 2;
  display: block;
  margin-left: 20px;
  text-align: left;
  background-color: rgb(0,0,0,0.5);
}

.iconlist1{
  margin:20px;
}

.icon{
  width:40px;
  height:auto;
  margin:5px;
  border:2px solid white;
  border-radius: 50px;
  background-color: black;
}

.icon:hover{
  background-color:rgb(255,255,255,1);
  backdrop-filter:blur(2px);
}

.heading-home{
  width: 100%;
  position: relative;
  display: inline-block;
}


@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(0%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.experiences-description{
  font-size: 12px;
  padding:0px;
  line-height: 20px;
  width:90%;
  margin:10px 0;
  text-align: left;
  color:#ffffff;
}

/* Portfolio */

.image{
  width:100%;
  margin-bottom:0;
  height:auto;
  border-radius: 20px;
}

.image:hover{
transform: scale(1.2);
transition: 1s;
}


.image1{
  width:300px;
  margin-bottom:0;
  height:auto;
}

.bannerimages{
  width:80%;
  padding-bottom:20px;
  height: auto;
}

.portfolio{
  backdrop-filter: blur(10.4px);
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.portfoliocard1{
  width:300px;
  height:auto;
  padding-bottom: 10px;
  display: inline-block;
  border-radius: 10px;
  margin:10px 10px;
  position: relative;
  overflow:hidden;
  box-shadow: 0px 0px 1px black;
}

.portimage{
  display: inline-block;
  width: 40%;
  overflow:hidden;
}

.portsummary{
  display: inline-block;
  width: 50%;
  text-align: left;
}


.portfoliocard1:hover{
  font-weight: bold;
  border-radius: 10px;
  transition: 0.2s;
  overflow:hidden;
  box-shadow: 0px 0px 5px black;

}


.worklabel{
  font-size: 12px;
  display: inline-grid;
  padding:2px 3px;
  margin:0px 20px;
  color:rgb(255,255,255,0.8);
}

.portfolio-text{
  font-size: 24px;
  color:white;
  margin:0px 20px;
  text-align: left;
  font-weight: bold;
  display: table;
}

.portfolio-subtext{
  font-size: 16px;
  margin:5px 20px;
  line-height: 20px;
  text-align: left;
  color: white;
  font-weight: 300;
}



.overall-numbers{
  display: inline-block;
  margin: 30px auto 0px;

}

.numbers-list1{
  height:auto;
  padding:5px 20px;
  width: 190px;
  text-align: center;
  float: left;
  position: relative;
  margin:20px 0px 20px 0;
  background-color:#58287F;
  border-radius: 0px;
}

.numbers-list1:nth-child(odd) {

}


.list1{
  font-size: 24px;
  font-weight: bold;
  margin:20px 0 10px 0;
  letter-spacing: 0px;
  color:#ff7ab1;
}

.list1-description{
  color:white;
  letter-spacing: 3px;

}


/* portfoliodisplay
*/

.UX-banner{
  width:100%;
  height:auto;
  margin:0 auto;
}

.copyright{
  padding:20px auto;
  font-size:10px;
  text-align: center;
  z-index: 0;
  color: white;
}

.iconpack{
  text-align: center;
}

.iconcategory{
  width:100px;
  height: 100px;
  padding:20px;
  margin-right: 20px;
  border-radius: 100px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  background-color: black;
}

.iconcategory:hover{
  transform: rotateY(180deg);
}

.iconimages{
  height: 100px;
}

.iconimages img{
  height: 40px;
}

/* portfolio section Motoori*/
.sectionport{
  width:100%;
  height:auto;
}

.container{
  margin:10px 0;
  margin: 0px auto;
  padding: 30px;
  background-color: rgb(0,0,0,0.3)
}

.head1{
  color:white;
  font-size:20px;
  font-weight:bolder;
}

.head2{
  color:white;
  font-size:20px;
  font-weight:bolder;
}

.subhead1{
  color:white;
  margin:10px 0;
  font-size: 12px;
  line-height: 2;
}

.subimage{
  width:100%;
  height:auto;
}

li{
  color:white;
  margin:10px 0;
  text-align: left;
}

p{
  color:white;
}

/* portfolio section emPartner*/
.sectionportem{
  width:100%;
  height:auto;
  margin:20px 0;
}

.containerportem{
  padding:20px;
  background-color:rgb(0,0,0,0.5);
  width: 90%;
  margin: 20px auto 20px auto;
}

.head1em{
  color:white;
  font-size:20px;
  font-weight:bolder;
}

.head2em{
  color:white;
  font-size:20px;
  font-weight:bolder;
}

.subhead1em{
  color:white;
  font-size: 14px;
}

.subimageem{
  width:80%;
  margin-top: 10px;
  height:auto;
}

.containerportem li{
  color:white;
  margin:10px 0;
  text-align: left;
  list-style: none;
}

p{
  color:white;
}

.partnerimg{
  width:100%;
  height:auto;
  display:inline-block;
  position:relative;
}


.titleem{
  font-size:20px;
  font-weight:bolder;
  width: 100%;
  margin:0 0 0 0;
  display: inline-block;
  position: relative;
  height: auto;
}

.subtitleem{
  width:100%;
  font-size:16px;
  line-height: 20px;
}


.containerem{
  width:100%;
  height: auto;
  margin: 0 auto 0 auto;
  display:inline-flex;
  align-items: center;
}

.container1em{
  width: 50%;
  display:inline-block;
  margin-top:20px;
}

.container2em{
  width: 50%;
  display:inline-block;
}

.container3em{
  width: 50%;
  display:inline-block;
  margin-top:20px;
  padding-right: 30px;
  text-align: -webkit-right;
}

.container4em{
  width: 50%;
  display:inline-block;
  text-align: -webkit-right;
  padding-right: 50px;
}


/* portfolio section eMudhra app*/
.sectionportemu{
  width:100%;
  height:auto;
  margin:20px 0;
  background-color: white;
}

.containerportemu{
  padding:20px;
  width: 70%;
  margin: 0 auto 0 auto;
}

.head1emu{
  background:#F36F24;
  font-size:24px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight:bolder;
}

.head2emu{
  color:#F36F24;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size:24px;
  font-weight:bolder;
}

.subhead1emu{
  color:black;
  font-size: 19px;
}

.subimageemu{
  width:50%;
  margin-top: 10px;
  height:auto;
}

.containerportemu li{
  color:black;
  margin:10px 0;
  text-align: left;
  list-style: none;
}

p{
  color:black;
}

.emudhraimg{
  width:100%;
  height:auto;
  display:inline-block;
  position:relative;
}


.titleemu{
  font-size:24px;
  background:linear-gradient(to right, black , #F36F24);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight:bolder;
  font-weight:bolder;
  width: 60%;
  margin:0 0 0 0;
  display: inline-block;
  position: relative;
  height: auto;
}

.subtitleemu{
  width:50%;
  font-size:16px;
  line-height: 20px;
  color:black;
}


.containeremu{
  height: auto;
  margin: 0 auto 0 auto;
  display:inline-flex;
  align-items: center;
}

.container1emu{
  width: 50%;
  display:inline-block;
  margin-top:20px;
}

.container2emu{
  width: 50%;
  display:inline-block;
}

.container3emu{
  width: 50%;
  display:inline-block;
  margin-top:20px;
  padding-right: 30px;
  text-align: -webkit-right;
}

.container4emu{
  width: 50%;
  display:inline-block;
  text-align: -webkit-right;
  padding-right: 50px;
}







/* portfolio section bridPic*/
.sectionportw{
  width:100%;
  height:auto;
  padding:10px 0;
}

.containerportw{
  margin:0 auto 0 auto;
  padding:20px 0px;
  width: 90%;
}

.head1w{
  color:white;
  font-size:20px;
  font-weight:bolder;
}

.head2w{
  color:white;
  font-size:20px;
  font-weight:bolder;
}

.porttext{
  color:white;
}

.subhead1w{
  color:white;
  font-size: 14px;
}

.subimagew{
  width:100%;
  margin-top: 20px;
  height:auto;
}

li{
  color:white;
  margin:10px 0;
  text-align: left;
}

.role{
  color:black;
  display:flex;
  justify-content: space-evenly;
}

.role1{
  display:inline-block;

}

.role2{
  display:inline-block;
}

.role1list{
  color:white;
  list-style-type: circle;
}

.role2list{
  color:white;
  list-style-type: circle;
}

.duration{
  color:black;
  display:inline-block;
  margin-bottom:30px;
  margin-right: 20px;
}

.duration1{
  display:inline-block;

}

.duration2{
  display:inline-block;
  margin-left:20px;
}



.durationno{
  color:#FD6DDE;
  font-weight: bolder;
  font-size: 48px;
  margin:0;
}

.durationtitle{
  color:white;
  font-weight: normal;
  font-size: 24px;
  margin:0;
}


/* portfolio section Donate*/
.sectionportd{
  width:100%;
  height:auto;
  padding:10px 0;
  margin:20px 0;
}

.containerportd{
  padding:0px;
  width: 90%;
  margin:20px auto;
}

.head1d{
  color:white;
  font-size:20px;
  font-weight:bolder;
}

.head2d{
  color:white;
  font-size:20px;
  font-weight:normal;

}

.subhead1d{
  color:white;
  font-size: 14px;
  line-height: 2;
  margin-bottom:20px;
}

.subimaged{
  width:100%;
  margin-top: 20px;
  height:auto;
}

.donateimg{
  width:100%;
  height:auto;
  display:inline-block;
  position:relative;
}


.titled{
  color:white;
  font-size:16px;
  font-weight:bold;
  margin:0 0 0 0;
}

.subtitled{
  color:white;
  width:100%;
  font-size:12px;
  font-weight:normal;
  display:inline-block;
  line-height: 2;
}


.containerd{
  width:100%;
  height: auto;
  margin: 0 auto 0 auto;
}

.container1d{
  width: 100%;
  display:inline-block;
  margin-top:20px;

}

.container2d{
  width: 30%;
  display:inline-flex;
}


.durationnod{
  color:white;
  font-weight: bolder;
  font-size: 48px;
  margin:0;
}

.durationtitled{
  color:white;
  font-weight: normal;
  font-size: 24px;
  margin:0;
}

.duration1d{
  display:inline-block;

}

.duration2d{
  display:inline-block;
  margin-left:50px;
}

.duration3d{
  display:inline-block;
  margin-left:50px;
}

.qualitate{
  width: 100%;
  height: auto;
  position: relative;
  display: inline-block;
}

.qualicontaind1{
  width:100px;
  position: relative;
  display: inline-block;
}

.qualicontaind2{
  position: relative;
  display: inline-block;
  margin-left:30px;
}

.qualitateimage{
  width:100%;
  height: auto;
}

.qualitatetext{
  color:white;
  list-style-type: circle;
}

.quantitateimage{
  width:100%;
  height: auto;
}

.personad{
  width: 100%;

}

.styled{
  width:80%;
}

.external{
  width: 18px;
  height: auto;
  position: relative;
  top:5px;
  left:5px;
}

/* Viewport */
@media screen and (min-width:360px)and (max-width:640px){

  body{
    padding:5px 0 0 0;
  }

  .banner{
  background-image: url('banner4.png');
  }

  .banner1{
    background-image: url('banner5.png');
  }

  .menu {
    width:100%;
    text-align: center;
    animation-name: sidebar_t;
    animation-duration: 1s;
    display: flex;
  }

  .container{
    padding: 20px;
  }


  .menuItem{
    display: block;
    align-items: center;
  }

  .menuIcon{
    width: 24px;
    height: auto;
    margin:0px;
  }

  .menuText{
    font-size: 12px;
    display: none;
  }

  .menudiv .active{
    font-weight: bold;
    background-color: rgb(0,225,253,20%);
  }

  .logodiv{
    text-align: center;
    width: 100%;
    padding: 0px;
    margin: 0 auto 0 auto;
  }


.menudiv{
  display: contents;
}

  .Group{
    display:block;
    margin: 10px auto;
    width:80%;
  }

  .profilesummary{
    width:100%;
    margin:0px auto 0px auto;
    display: inline-block;
  }

  #intro{
    width:100%;
    margin:20px auto;
    text-align: center;
    background-color:rgb(0,0,0,0);
  }

  #loader {
    margin-left: 0px;
  }

  @keyframes sidebar_m {
    0%  {top:-100px;}
    100% {top:0px;}
  }

  .logodiv{
    padding:0px;
    width: 100%;
    margin:0 auto 10px auto;
  }


  .badge{
    position: relative;
    bottom:1px;
  }

  @keyframes menu_item {
    0%  {top:-200px;}
    100% {top:0px;}
  }


  .logodiv{
    position: inline;
    margin: 0 auto 0 auto;
  }


  .profilesummary {

  }

  .experience-description{
    font-size: 14px;
    text-align: center;
    margin:0px 0 20px 0;
  }

  .logo{
    width:40px;
  }


  .banner{
    height:100%;
    top:0;
    left: 0;
    position: fixed;
    z-index: -1;
    width: 100%;
    background-color: black;
    filter:blur(3px);
    color: rgb(0,0,0,0.5);
  }


  .nameTitle{
    font-size: 18px;
    margin: 0;
    color: white;
    background: rgb(7,141,157);
    background: linear-gradient(100deg, rgba(7,141,157,1) 0%, rgba(252,213,51,0) 100%);
    font-weight: 800;
  }

  .nameDescription{
  font-size: 14px;
  padding:0px;
  display: inline-block;
  margin:5px 0;
  }

  .nameDescription1{
  font-size: 14px;
  padding:0px 20px;
  color: rgb(255,255,255,0.8);
  display: grid;
  margin:10px 0;
  }

  .nameDescription2{
  font-size: 12px;
  padding:0px 10px;
  color: rgb(255,255,255,1);
  margin:10px 0;
  line-height: 2;
  }

  .downloadresume a{
  }

  .downloadresume{
    width:80%;
    margin: 5px auto;
    display: flex;
  }

  .downloadresume a:hover{
    background-color: #00e1fd;
    color:black;
    border:0px;
  }


  .workspace{
    width: 100%;
    height:540px;
    text-align: center;
    margin:10px 0;
    animation-duration:1s;
    background-color: rgb(0,0,0,0.3);
  }


  @keyframes workspace_m{
    0% {bottom:-100px;}
    100%{bottom:0px;}
  }


  .surya{
    margin:0;
    font-weight:bold;
    font-size:24px;
  }

  .portfolio{
    width:80%;
    margin: 20px auto;
    display: inline;
    align-items: center;
  }

  .worklabel{
    font-size: 12px;
    display: inline-grid;
    padding:2px 3px;
    color:rgb(255,255,255,0.8);
  }

  .portfolio-text{
    font-size: 18px;
    color:white;
  }

  .portfolio-subtext{
    font-size: 12px;
  }


  .portimage{
    width: 90%;
    border-radius: 20px;
    overflow:hidden;
  }

  .portsummary{
    width: 90%;
    margin:20px 0;
  }


  .image{
    width:100%;
    margin-bottom:0;
    height:auto;
    border-radius:20px;
  }


  .portfoliodesigns {
    width:80%;
    margin:0 auto 10px auto;
  }

  .video{
    width:360px;
    height:250px;
    margin:0 auto 0 auto;
  }

  .iconpack{
    text-align: center;
    margin: 0 auto 0 auto;
    width: 80%;
  }

  .iconlist{
    margin: 0px auto;
    text-align: center;
  }

  .iconlist1{
    margin-bottom: 0px;
  }

  .icon{
    width:45px;
    height:auto;
    margin:0 5px 20px 5px;
  }

  .bannerimages{
    width:100%;
    height: auto;
  }

  .UX-banner{
    width:80%;
    height:auto;
    margin:0 auto;
  }


  .button-interaction{
    margin:30px auto 30px auto;
  }

  .figma{
    width:360px;
    height:600px;
    width: 100%;
    margin:0 auto;
  }

  .portfolio-subtext{
    width:90%;
  }

  .portfoliocard1{
    margin:10px 0px;
  }

  .copyright{
    width: 100%;
    margin:10px auto;
    font:10px;
    text-align: center;
  }



  /* portfolio section black */
  .sectionport{
    width: 100%;
    margin:0;
  }

  .containerport{
    background-color:#2d2d2d;
    width: 80%;
    padding:20px;
    text-align: left;
  }


  .subhead1{
    color:white;
    font-size: 12px;
  }

  .head1{
    font-size: 16px;
  }

  .head2{
    font-size: 16px;
  }

  .subimage{
  }

  li{
    text-align: left;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 12px;
    color:white;
  }

  p{
    color:white;
  }



  /* portfolio section white */
  .sectionportw{
    width: 100%;
    margin:0;
  }

  .containerportw{
    width: 80%;
    padding:20px;
    text-align: left;
  }


  .subhead1w{
    color:white;
    font-size: 14px;
  }

  .head1w{
    font-size: 16px;
  }

  .head2w{
    font-size: 16px;
  }

  .subimagew{
    height:auto;
    margin-top:10px;
  }

  li{
    text-align: left;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 12px;
  }



  /* portfolio section Donate*/
  .sectionportd{
    width:100%;
    height:auto;
    padding:10px 0;
    margin:20px 0;
  }

  .containerportd{
    margin: 20px auto 20px auto;
    width: 80%;
    padding:20px 0px;
    text-align: left;
  }

  .head1d{
    color:white;
    font-size:16px;
    font-weight:bolder;
  }

  .head2d{
    color:white;
    font-size:18px;
    font-weight:normal;
  }

  .subhead1d{
    color:white;
    font-size: 12px;
  }

  .subimaged{
    width:80%;
    margin-top: 20px;
    height:auto;
  }

  .titled{
    font-size:16px;
    margin:10px 0 0 0;
  }

  .subtitled{
    font-size:12px;
    line-height: 2;
    margin-bottom:30px;
    width: 100%;
  }

  .durationnod{
    font-size: 24px;
  }

  .duration3d{
    margin:0px;
    margin-top:10px;
  }

  .containerd{
    width:100%;
    height: auto;
    display:block;

  }
  .container1d{
    width:100%;
    height: auto;
    text-align: left;
    margin-top:20px;
    font-size: 12px;

  }

  .container2d{
    width:100%;
    height:auto;
    text-align: center;
    margin-left:none;
  }

  .donateimg{
    width:50%;
    height:auto;
    display:inline-block;
    position:relative;
  }

  .role2{
    display:inline-block;
    margin-left:0px;
  }

  .role2list{
    margin-left:0px;
  }

  .qualicontaind1{
    display:none;
  }

  .qualicontaind2{
    margin-left:0px;
  }

  .quantitateimage1{
    width:100%;
    height: auto;
  }

  .styled1{
    width:100%;
  }

  .hidden{
    opacity:0;
    transition: all 2s;
    filter: blur(10px);
    transform: translateY(100px);
  }

  .show{
    opacity:1;
    filter: blur(0px);
    transform: translateX(0);
  }

  .downloadresume a{
    width: 80%;
  }

  /* portfolio section emPartner*/
  .sectionportem{
    width:100%;
    height:auto;
    margin:20px 0;
  }

  .containerportem{
    padding:20px;
    background-color:rgb(0,0,0,0.5);
    width: 90%;
    margin: 20px auto 20px auto;
  }

  .head1em{
    color:#0070D2;
    font-size:24px;
    font-weight:bolder;
  }

  .head2em{
    color:white;
    font-size:18px;
    font-weight:bolder;
  }

  .subhead1em{
    color:white;
    font-size: 12px;
  }

  .subimageem{
    width:80%;
    margin-top: 10px;
    height:auto;
  }

  .containerportem li{
    color:white;
    margin:10px 0;
    text-align: center;
    list-style: none;
  }

  p{
    color:white;
  }

  .partnerimg{
    width:100%;
    height:auto;
    display:inline-block;
    position:relative;
  }


  .titleem{
    font-size:16px;
    font-weight:bolder;
    width: 90%;
    margin:0 0 0 0;
    display: inline-block;
    position: relative;
    height: auto;
  }

  .subtitleem{
    width:90%;
    font-size:12px;
    line-height: 20px;
  }


  .containerem{
    height: auto;
    margin: 0 auto 0 auto;
    display:inline-flex;
    align-items: center;
  }

  .container1em{
    width: 50%;
    margin-top:20px;
  }

  .container2em{
    width: 50%;
    margin-left:20px;
    text-align: left;
  }

  .container3em{
    text-align: -webkit-right;
  }

  .container4em{
    width: 50%;
    text-align: -webkit-right;
  }

  /* portfolio section eMudhra app*/
  .sectionportemu{
    width:100%;
    height:auto;
    margin:20px 0;
    background-color: white;
  }

  .containerportemu{
    padding: 10px 20px;
    width: 90%;
    margin: 0 auto 0 auto;
  }

  .head1emu{
    /* background:linear-gradient(to right, black , #F36F24); */
    background:#F36F24;
    font-size:18px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:bolder;
  }

  .head2emu{
    /* background:linear-gradient(to right, #F36F24 , black); */
    background:#F36F24;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color:black;
    font-size:18px;
    font-weight:bolder;
  }

  .subhead1emu{
    color:black;
    font-size: 16px;
  }

  .subimageemu{
    width:50%;
    margin-top: 10px;
    height:auto;
  }

  .containerportemu li{
    color:black;
    margin:10px 0;
    text-align: center;
    list-style: none;
  }

  p{
    color:black;
  }

  .emudhraimg{
    width:100%;
    height:auto;
    display:inline-block;
    position:relative;
  }


  .titleemu{
    font-size:16px;
    width:90%;
  }

  .subtitleemu{
    width:90%;
    line-height: 15px;
    font-size:10px;
    margin-top:0px;
  }


  .containeremu{
    width:100%;
    height: auto;
    margin: 0 auto 0 auto;
    display:inline-flex;
    align-items: center;
  }

  .container1emu{
    text-align: left;

  }

  .container2emu{
    text-align: left;

  }

  .container3emu{
    width: 80%;
    display:inline-block;
    margin-top:20px;
    text-align: -webkit-right;
  }

  .container4emu{
    padding-right: 20px;

  }



}




/* Viewport */
@media screen and (min-width:540px)and (max-width:1200px){

  body{
    padding:10px 0 0 0;
  }

  .banner{
  background-image: url('banner4.png');
  }

  .banner1{
    background-image: url('banner5.png');
  }

  .menu {
    width:100%;
    text-align: center;
    animation-name: sidebar_t;
    animation-duration: 1s;
    display: flex;
  }

  .logodiv{
    text-align: center;
    width: 100%;
    padding: 0px;
    margin: 0 auto 0 auto;
  }


.menudiv{
  display: contents;
}

  .Group{
    display:block;
    margin: 10px auto;
    width:80%;
  }

  .profilesummary{
    width:100%;
    margin:0px auto 0px auto;
    display: inline-block;
  }

  .nameTitle{
    font-size: 18px;
    margin: 0;
    color: white;
    background: rgb(7,141,157);
    background: linear-gradient(100deg, rgba(7,141,157,1) 0%, rgba(252,213,51,0) 100%);
    font-weight: 800;
  }

  .nameDescription{
  font-size: 18px;
  padding:0px;
  display: inline-block;
  margin:5px 0;
  }

  .nameDescription1{
  font-size: 14px;
  padding:0px 20px;
  color: rgb(255,255,255,0.8);
  display: grid;
  margin:10px 0;
  }

  .nameDescription2{
  font-size: 12px;
  padding:0px 10px;
  color: rgb(255,255,255,1);
  margin:10px 0;
  line-height: 2;
  }

  .downloadresume a{
  }

  .downloadresume{
    width:80%;
    margin: 5px auto;
    display: flex;
  }

  .downloadresume a:hover{
    background-color: #00e1fd;
    color:black;
    border:0px;
  }




  #loader{
    margin-left: 0px;
  }

  @keyframes animatebottom {
    from{ top:-100px; opacity:0}
    to{ top:0; opacity:1 }
  }

  @keyframes sidebar_t {
    0%  {top:-100px;}
    100% {top:0px;}
  }



  .workspace{
    width: 100%;
    height:540px;
    text-align: center;
    margin:10px 0;
    animation-duration:1s;
    background-color: rgb(0,0,0,0.3);

  }


  @keyframes box {
    0%   {left:-100px;}
    100% {left:0px;}
  }


  .logo{
    width:50px;
  }

  .profileimage{
    width: 300px;
  }

  .iconlist{
    text-align: center;
    margin-top:20px;
    margin-left: 0px;
  }

  .image{
    width:100%;
    margin-bottom:0;
    height:auto;
    border-radius:20px;

  }

  .experience-description{
    font-size: 16px;
    text-align: center;
    margin:0px 0 20px 0;
  }


  .portfolio{
    width:80%;
    margin: 20px auto;
    display: inline;
    align-items: center;
  }

  .portimage{
    width: 90%;
    border-radius: 20px;
    overflow:hidden;
  }

  .portsummary{
    width: 90%;
    margin:20px 0;
  }

  .iconlist1{
    margin:20px auto;
  }

  .icon{
    width:50px;
    height:50px;
    margin:0 5px;
  }

  a.portfoliocard1 {
    margin-bottom:10px;
    box-shadow: 0px 0px 1px black;
  }

  .overall-numbers{
    margin:30px auto;
  }


  .UX-banner{
    width:80%;
    height:auto;
    margin:0 auto;
  }

  .bannerimages{
    width:80%;
    height: auto;
  }

  #intro{
    width:100%;
    margin:20px auto;
    padding:10px 0;
    text-align: center;
    background-color:rgb(0,0,0,0);

  }

  .surya{
    font-size:28px;
    margin:0px;
  }

  .button-interaction{
    width: 60%;
    margin:30px auto 10px auto;
  }

  .figma{
    width:360px;
    height:600px;
    width: 100%;
    margin:0 auto;
  }

  .copyright{
margin-bottom:5px 0;
  }

  .video{
    width:540px;
    height:390px;
    margin:0 auto 0 auto;
  }


  /* portfolio section black */
  .sectionport{
    width: 100%;
    margin:0;
  }

  .containerport{
    width: 80%;
    text-align: left;
    padding:20px;

  }


  .subhead1{
    color:white;
    font-size: 12px;
  }

  .head1{
    font-size: 24px;
  }

  .head2{
    font-size: 24px;
  }

  .subimage{
    height:auto;
    margin-top:10px;
  }

  li{
    text-align: left;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 12px;
    color:white;

  }

  p{
    color:white;
  }


  /* portfolio section white */
  .sectionportw{
    width: 100%;
    margin:0;
    padding:0;
  }

  .containerportw{
    width: 80%;
    text-align: left;
    padding:20px;

  }


  .subhead1w{
    color:white;
    font-size: 14px;
  }

  .head1w{
    font-size: 16px;
  }

  .head2w{
    font-size: 16px;
  }

  .subimagew{
    height:auto;
    margin-top:10px;
  }

  li{
    text-align: left;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 12px;
  }

  /* portfolio section Donate*/
  .sectionportd{
    width:100%;
    height:auto;
    padding:10px 0;
    margin:20px 0;
  }

  .containerportd{
    margin: 20px auto 20px auto;
    width: 80%;
    padding:20px 0px;
    text-align: left;
  }

  .head1d{
    color:white;
    font-size:16px;
    font-weight:bolder;
  }

  .head2d{
    color:white;
    font-size:18px;
    font-weight:normal;
  }

  .subhead1d{
    color:white;
    font-size: 12px;
  }

  .subimaged{
    width:50%;
    margin-top: 20px;
    height:auto;
  }

  .titled{
    font-size:16px;
    margin:10px 0 0 0;
  }

  .subtitled{
    font-size:12px;
    width: 100%;
    line-height: 2;
  }

  .containerd{
    width:100%;
    height: auto;
    display:block;
    text-align: left;

  }
  .container1d{
    width:100%;
    height: auto;
    text-align: left;
    margin-top:20px;
    font-size: 12px;

  }

  .durationnod{
    font-size: 36px;
  }

  .container2d{
    width:90%;
    height:auto;
    text-align: left;
  }

  .donateimg{
    width:50%;
    height:auto;
    display:inline-block;
    position:relative;
  }

  .role2{
    display:inline-block;
    margin-left:0px;
  }

  .quantitateimage1{
    width:100%;
    height: auto;
  }

  .styled1{
    width:100%;
  }
  .hidden{
    transition: all 2s;
    filter: blur(5px);
    transform: translateY(100px);
  }

  .show{
    opacity:1;
    filter: blur(0px);
    transform: translateY(0);
  }

  .downloadresume a{
padding:20px;
  }

  .downloadresume{
    width:80%;
    margin: 20px auto;
    display: flex;
  }

  ul.breadcrumb {
    display: none;
  }

  /* portfolio section emPartner*/
  .sectionportem{
    width:100%;
    height:auto;
    margin:20px 0;
  }

  .containerportem{
    padding:20px;
    background-color:rgb(0,0,0,0.5);
    width: 90%;
    margin: 20px auto 20px auto;
  }

  .head1em{
    color:#0070D2;
    font-size:24px;
    font-weight:bolder;
  }

  .head2em{
    color:white;
    font-size:18px;
    font-weight:bolder;
  }

  .subhead1em{
    color:white;
    font-size: 12px;
  }

  .subimageem{
    width:80%;
    margin-top: 10px;
    height:auto;
  }

  .containerportem li{
    color:white;
    margin:10px 0;
    text-align: center;
    list-style: none;
    font-size: 14px;
  }

  p{
    color:white;
  }

  .partnerimg{
    width:100%;
    height:auto;
    display:inline-block;
    position:relative;
  }


  .titleem{
    font-size:18px;
    font-weight:bolder;
    width: 70%;
    margin:0 0 0 0;
    display: inline-block;
    position: relative;
    height: auto;
  }

  .subtitleem{
    width:90%;
    font-size:14px;
    line-height: 20px;
  }


  .containerem{
    height: auto;
    margin: 0 auto 0 auto;
    display:inline-flex;
    align-items: center;
  }

  .container1em{
    width: 50%;
    margin-top:20px;
  }

  .container2em{
    width: 50%;
    margin-left:20px;
    text-align: left;
  }

  .container3em{
    text-align: -webkit-right;
  }

  .container4em{
    width: 50%;
    text-align: -webkit-right;
  }

  /* portfolio section eMudhra app*/
  .sectionportemu{
    width:100%;
    height:auto;
    margin:20px 0;
    background-color: white;
  }

  .containerportemu{
    padding:20px;
    width: 90%;
    margin: 0 auto 0 auto;
  }

  .head1emu{
    background:#F36F24;
    font-size:24px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:bolder;
  }

  .head2emu{
    background:#F36F24;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:24px;
    font-weight:bolder;
  }

  .subhead1emu{
    color:black;
    font-size: 16px;
  }

  .subimageemu{
    width:50%;
    margin-top: 10px;
    height:auto;
  }

  .containerportemu li{
    color:black;
    margin:10px 0;
    text-align: center;
    list-style: none;
  }

  p{
    color:black;
  }

  .emudhraimg{
    width:100%;
    height:auto;
    display:inline-block;
    position:relative;
  }


  .titleemu{
    font-size:16px;
  }

  .subtitleemu{
    font-size:12px;
  }


  .containeremu{
    width:100%;
    height: auto;
    margin: 0 auto 0 auto;
    display:inline-flex;
    align-items: center;
  }

  .container1emu{
    text-align: left;

  }

  .container2emu{
    text-align: left;

  }

  .container3emu{
    width: 50%;
    display:inline-block;
    margin-top:20px;
    padding-right: 30px;
    text-align: -webkit-right;
  }

  .container4emu{
    width: 50%;
    display:inline-block;
    text-align: -webkit-right;
    padding-right: 50px;
  }

  .portfolio-subtext{
    width:90%;
  }



}
